[submodule "cglm"]
	path = external/cglm
	url = git@github.com:recp/cglm.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/cimgui"]
	path = external/cimgui
	url = git@github.com:cimgui/cimgui.git
